# insert your bot token here.
token:

# id of bot owner, doesn't really do anything rn.
owner_id: 318332290327511041

# directory to store temporary files, such as downloaded schematic files.
temp_directory: run/


